@page
@model CeremonyArchiveModel
@{ Layout = "_Layout2"; }

<div class="gap">
    <div class="container">
        <div class="event-wrap">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="blog-wrap remove-ext7">
                        @foreach (var item in Model.ceremonies)
                        {
                            <div class="row mrg40">
                                <div class="col-md-3 col-sm-6 col-lg-3 fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                                    <div class="blog-box">
                                        <img src="~/@item.Image" alt="@item.ImageAlt">
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12 col-lg-8 fadeIn" data-wow-duration=".8s" data-wow-delay=".2s">
                                    <div class="blog-info">
                                        <ul class="pst-mta2 pagination">
                                            <li><span style="color:green">@item.Title</span></li>
                                        </ul>
                                        @*typeId specify the type of files that should be listed in detail page.(gallery=1,audio=2,video=3)*@
                                        <div class="pst-mta2 pagination">
                                            <span class="col-md-6 col-sm-6 col-lg-6">
                                                <span>@item.CeremonyDateFa</span>
                                            </span>
                                            <span class="col-md-6 col-sm-6 col-lg-6" style="float:left; max-width: 35%">
                                                <a asp-page="/MultimediaDetail/Detail" asp-route-Id="@item.Slug" asp-route-typeId="1"><img src="~/Theme/assets/images/gallery.png" style="margin-right: 20px" width="40" height="40"></a>
                                                <a asp-page="/MultimediaDetail/Detail" asp-route-Id="@item.Slug" asp-route-typeId="2"><img src="~/Theme/assets/images/multimedia.png" style="margin-right: 20px" width="40" height="40"></a>
                                                <a asp-page="/MultimediaDetail/Detail" asp-route-Id="@item.Slug" asp-route-typeId="3"><img src="~/Theme/assets/images/film.png" style="margin-right: 20px" width="40" height="40"></a>
                                            </span>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <ul class="pst-mta2">

                                            @foreach (var itm in item.CeremonyGuests)
                                            {
                                                <li>@itm.GuestType<span>: @itm.Guest </span></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="pagination-wrap text-center">
                        <ul class="pagination">
                            @for (int i = 1; i <= (int)(ViewData["pageCount"]); i++)
                            {
                                <li class="page-item @(i == (int)(ViewData["pageId"]) ? "active" : "")"><a asp-page="/MultimediaDetail/CeremonyArchive" asp-route-pageId="@i" title="">@i</a></li>
                            }
                        </ul>
                    </div><!-- Pagination Wrap (ViewData["pageId"]=i)? active:":" -->
                </div>
            </div>
        </div>
    </div>
</div>

