@page "{id}"
@model MultimediaDetail.DetailModel
@{ Layout = "_Layout2";
    ViewData["title"] = Model.ceremony.Title;
    ViewData["Keywords"] = Model.ceremony.Keywords;
    ViewData["MetaDescription"] = Model.ceremony.MetaDescription;

<link rel="canonical" href="www.haidarieh.com/ceremonies">
            <link href="~/Theme/assets/css/fancybox.min.css" rel="stylesheet" />
}

<div class="gap remove-gap">
    <div class="page-title-wrap">
        <h2>فایلهای چندرسانه ای </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="sec-title">
                    <div class="sec-title2 text-center">
                        <h3>مراسم<span> @Model.ceremony.Title</span></h3>
                        <h5><span>@Model.ceremony.CeremonyDateFa </span></h5>
                        @foreach (var itm in Model.ceremony.CeremonyGuests)
                        {
            <h6>@itm.GuestType:<span> @itm.Guest </span></h6>}
                    </div>
                </div>
                <ul style="list-style:none;" class="row">
                    @foreach (var item in Model.ceremony.Multimedias)
                    {

        <li class="col-md-3">
            <br />
            @if (item.ContentType.StartsWith("image/"))
            {
                    <a data-fancybox="gallery" data-caption="@item.Title" href="~/@item.FileAddress">
                        <img src="~/@item.FileAddress" class="img" style="width: 100%; height: 180px;" />
                    </a> }
            else if (item.ContentType.StartsWith("audio/"))
            {

                    <a data-fancybox="gallery" data-caption="@item.Title" href="~/@item.FileAddress" data-type="video" style="width: 70px; height: 70px;">
                        <img src="~/Theme/assets/images/video__player__movie.jpg" style="width: 70px; height: 70px;" />
                        @item.Title
                        @*<audio controls id="MyAudio1" style="display:none;">
                                <source src="~/@item.FileAddress" type="@item.ContentType" />
                            </audio>*@
                    </a> }
            else if (item.ContentType.StartsWith("video/"))
            {
                    <a data-fancybox="gallery" data-caption="@item.Title" href="~/@item.FileAddress">
                        <video src="~/@item.FileAddress" style="width:100%;height:180px;" />
                    </a>}
            <br />

        </li>
}
                </ul>

            </div>
        </div>
    </div>
</div>

<script src="~/Theme/assets/js/fancybox.min.js"></script>






